.order-container{
    display: grid;
    grid-template-columns: 4fr 1fr;


}
.all-products{
    margin: 60px 40px 30px 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;

}
.order-summary{
    background-color: #FF99004D ;
}
.title{
    text-align: center;
    padding: 35px 0;
    font-size: 22px;
    color: #1C2B35;
    font-weight: 600;
}
.cart-detail{
    padding-left: 10px;
    color: #2A414F;
    line-height: 21px;
}
@media screen and (max-width:600px) {

    .all-products{
        margin: 30px 40px 30px 20px;
        grid-template-columns: repeat(1,1fr);


}
}

@media screen and (min-width:600px) and (max-width:1440px){

    .all-products{
        margin: 30px 40px 30px 20px;
        grid-template-columns: repeat(3,1fr);


}
}
@media screen and (min-width:1000px) and (max-width:1440px){

    .all-products{
        margin: 60px 40px 30px 50px;
        grid-template-columns: repeat(3,1fr);


}
}
